<article class="content-section" *ngIf="hasRoute('/')">
  <h1 class="content-title">{{ dataTitle }}</h1>
  <div class="content">
    <a class="container-info extra" (click)="onClick()">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">One Piece</a>
      </div>
    </a>
    <a class="container-info disable" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Code Geass</a>
      </div>
    </a>
    <a class="container-info disable" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Re:Zero</a>
      </div>
    </a>
    <a class="container-info disable" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Re:Zero</a>
      </div>
    </a>
    <a class="container-info disable" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Re:Zero</a>
      </div>
    </a>
  </div>
  <div class="container-info">
    <li class="list-container">
      <ng-image-slider
        class="image-slider"
        [images]="animeCollection"
        #nav
      ></ng-image-slider>
    </li>
  </div>
</article>
