<article class="content-section">
  <h1 class="content-title">{{ dataTitle }}</h1>
  <div class="content">
    <a class="container-info" href="" (click)="onClick()">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">One Piece</a>
        <!-- <p [ngStyle]="{ 'background-color': 'inherit' }">hello</p> -->
      </div>
    </a>
    <a class="container-info" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Code Geass</a>
      </div>
    </a>
    <a class="container-info" href="">
      <img [src]="pic1" alt="" class="content-image" />
      <div class="info-bottom-section">
        <a href="" class="info-title">Re:Zero</a>
      </div>
    </a>
  </div>
</article>
